<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936649524074-1ekfef3o8859goh619t9ib1sl0lf1jld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936649524074-1ekfef3o8859goh619t9ib1sl0lf1jld</string>
	<key>API_KEY</key>
	<string>AIzaSyBiKfPmetCdt14D85XW5FrUA5KTQV1c_q0</string>
	<key>GCM_SENDER_ID</key>
	<string>936649524074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.hpm64625.BackPlaner</string>
	<key>PROJECT_ID</key>
	<string>back-planer</string>
	<key>STORAGE_BUCKET</key>
	<string>back-planer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936649524074:ios:9085588047758d6bd65b13</string>
</dict>
</plist>